  body {
    background-color:ivory;
      }
  hr {
    border-style: none;
    border-top-style:dotted;
    border-width: 5px;
    background-color: ivory;
    width: 5%
      }
  h1 {
    text-shadow: 2px 2px 5px royalblue;
  }
  h3 {
    color: royalblue;
  }
  body {
    font-family: 'Permanent Marker', cursive;
  }
