  @import url("https://fonts.googleapis.com/css?family=Poppins");
  body {
    background-color:ivory;
    }
    body {
    font-family: 'Poppins';
      }
  hr {
    border-style: none;
    border-top-style:dotted;
    border-width: 5px;
    background-color: ivory;
    width: 5%
      }
  h1 {
    text-shadow: 2px 2px 5px royalblue;
  }
  h3 {
    color: royalblue;
  }
